<html>
	<head>

		<title>convertCurrency</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.css">
	<style>

	.ui.main.text.container.segment {
		position: relative;
 		top: 50%;
 		transform: translateY(-50%);
	}
	.ui.huge.header{
		text-align: center;
	}
	.buttons{
		text-align: center;
	}
	.button{
		width: 125px;
	}
	.twelve.wide.column{
		background-color:787A7C ;
		height: page;
		margin-top: 5%;
		margin-bottom:5%;
	}
	.ui.grid {


    min-height: 100%;
}


	</style>
	</head>
	<body>
