<% include ./partials/header %>



<div class="ui grid">
<div class="left floated left aligned two wide column"></div>
<div class="twelve wide column">
	<div class="ui main text container segment">
		<div class="ui huge header">Convert Currency</div>
		<form class="ui form" action="/convertCurrency" method="POST">

			<div class="field">
				<label>From</label>
				<select name="conv[from]" data-validation="required">
				  <option value="">Select Currency</option>
				  <option value="AUD">Australian Dollar</option>
				  <option value="BRL">Brazilian Real </option>
				  <option value="CAD">Canadian Dollar</option>
				  <option value="CZK">Czech Koruna</option>
				  <option value="DKK">Danish Krone</option>
				  <option value="EUR">Euro</option>
				  <option value="HKD">Hong Kong Dollar</option>
				  <option value="HUF">Hungarian Forint </option>
				  <option value="ILS">Israeli New Sheqel</option>
				  <option value="JPY">Japanese Yen</option>
				  <option value="MYR">Malaysian Ringgit</option>
				  <option value="MXN">Mexican Peso</option>
				  <option value="NOK">Norwegian Krone</option>
				  <option value="NZD">New Zealand Dollar</option>
				  <option value="PHP">Philippine Peso</option>
				  <option value="PLN">Polish Zloty</option>
				  <option value="GBP">Pound Sterling</option>
				  <option value="SGD">Singapore Dollar</option>
				  <option value="SEK">Swedish Krona</option>
				  <option value="CHF">Swiss Franc</option>
				  <option value="TWD">Taiwan New Dollar</option>
				  <option value="THB">Thai Baht</option>
				  <option value="TRY">Turkish Lira</option>
				  <option value="USD" >U.S. Dollar</option>
				</select>
			</div>

			<div class="field">
					<label>To</label>
					<select name="conv[to]" data-validation="required">
					  <option value="">Select Currency</option>
					  <option value="AUD">Australian Dollar</option>
					  <option value="BRL">Brazilian Real </option>
					  <option value="CAD">Canadian Dollar</option>
					  <option value="CZK">Czech Koruna</option>
					  <option value="DKK">Danish Krone</option>
					  <option value="EUR">Euro</option>
					  <option value="HKD">Hong Kong Dollar</option>
					  <option value="HUF">Hungarian Forint </option>
					  <option  value="ILS">Israeli New Sheqel</option>
					  <option value="JPY">Japanese Yen</option>
					  <option value="MYR">Malaysian Ringgit</option>
					  <option value="MXN">Mexican Peso</option>
					  <option value="NOK">Norwegian Krone</option>
					  <option value="NZD">New Zealand Dollar</option>
					  <option value="PHP">Philippine Peso</option>
					  <option value="PLN">Polish Zloty</option>
					  <option value="GBP">Pound Sterling</option>
					  <option value="SGD">Singapore Dollar</option>
					  <option value="SEK">Swedish Krona</option>
					  <option value="CHF">Swiss Franc</option>
					  <option value="TWD">Taiwan New Dollar</option>
					  <option value="THB">Thai Baht</option>
					  <option value="TRY">Turkish Lira</option>
					  <option value="USD">U.S. Dollar</option>
					</select>
			</div>

				<div class="field">
					<label>Amount</label>
					<input type="text" name="conv[amount]" data-validation="number" placeholder="Amount">
				</div>

				<div class="buttons">
					<input class="ui red basic big button " value="Convert" type="submit">
					<input  class="ui blue basic big button" value="Reset" type="reset" >
				</div>

				<% if(status !=="") {%>
					<br>
					<div class="convertResult ">
						<div class="ui info message">
		  				<div class="header">
		    				<p > <%= status %>  </p>
		  				</div>
						</div>
					</div>
				<% } %>


			</div>




		</form>
	</div>
<div class="right floated left aligned two wide column"></div>
</div>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>

	<script>
	$.validate({

	 });
	</script>


<% include ./partials/footer %>
